@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background:
		linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('/bg.png') center/cover fixed no-repeat;
}

*,
*:hover {
	scrollbar-color: unset;
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

textarea::-webkit-scrollbar {
	width: 0px;
}

.typing {
	overflow: hidden;
	font-size: 0.8rem;
	font-style: italic;
	display: inline-block;
	white-space: nowrap;
	animation: typing 1.5s infinite;
}

.chat-bubble {
	white-space: initial !important;
}

.chat-bubble.type {
	padding-bottom: 5px !important;
	padding-top: 10px !important;
	min-height: auto !important;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
